# configuration for mp.py
#
# ohal@softserveinc.com
#
[msg]
# input file name or directory
#filename: url.msg
#filename: email.msg
#filename: main.py
filename: /home/ohal/python/folder
#filename: test.msg
#filename: 1369.msg
#filename: cc.msg
#filename: body.msg
#filename: wbody.msg
# hash sign - counts checksum of whole MSG file or only body of MSG, FILE|BODY
hashsign: FILE
#hashsign: BODY
# set the method of fetching content from URLs, URL = using urllib2 | SUB = using subprocess
fetchurl: URL
#fetchurl: SUB
